.friendList {
    display: flex;
    gap: 50px;
    margin-top: 80px;
}

.friendListItem {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 180px;
}

